.mainImage {
    flex: 1;
}

.mainText {
    display: flex;
    flex-direction: column;
    color:white;
    flex: 0.7;
    align-items: center;
    justify-content: center;
}

.pregunta {
    text-align: center;
    font-family: monospace;
    font-size: 50px;
    margin-bottom: 20px;
}

.mainYap {
    font-family: monospace;
    font-size: 15px;
    text-align: center;
    justify-content: center;
}
