<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event's _</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/utils.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/confirmation.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <div class="header">
            <div class="logo">
                <img th:src="@{/assets/logo.png}">
            </div>
            <div class="references">
                <a href="/">
                    Página Principal
                </a>
                <a href="/login">
                    Iniciar sesión
                </a>
            </div>
        </div>
    </header>
    <div class="stupid">

    <div class="textContainer">
        <h1 class="muchoTexto">
            Gracias por su interes en el salon, 
            por favor realize el pago por medio 
            de SINPE movil al numero que se despliega abajo 
            y por favor comuniquese con el mismo numero para
            confirmar el pago
        </h1>


    </div>
    </div>
    <div class="whatsCont">
        <i class="fa-brands fa-whatsapp"></i>
        <h1 class="pNum">8897-2342</h1>
    </div>

</body>
